body {
    color: #222;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: "jaf-bernino-sans", Helvetica, sans-serif;
    line-height: 1.4;
}

h1, h2, h3 {
  font-family: "jaf-bernino-sans-condensed", Helvetica, sans-serif;
}

#content {
  position: relative;
}

pre code {
  font-family: "Source Code Pro", Menlo, "Courier New", monospace;
}

#content aside {
  margin-right: -170px;
  margin-top: .25em;
  position: absolute;
  right: 0;
  top: auto; /* default */
  width: 150px;
  font-size: 80%;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 0px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

h1, h2, h3, h4, h5 { clear: both; }

pre { clear: both; }

dl { clear: both; }
dt { clear: both; font-weight: bold; margin-top:  }
dd { margin-left: 0; }
dd img { float: left; margin-right: 10px; margin-bottom: 5px; }
dd p { float: left; }

.info { margin-top: -22px; margin-bottom: 22px; float: left; width: 100%; }

/* BASELINE GRID */
/* http://www.gridlover.net/app/ */
/* font size 16; line height 1.4; scale factor 1.618 */

body {
  font-size: 16px;
  line-height: 22px;
  max-width: 760px;
  margin: 0 auto;
}
h1 {
  font-size: 42px;
  line-height: 44px;
  margin-top: 44px;
  margin-bottom: 22px;
}
h1 {
  font-size: 26px;
  line-height: 44px;
  margin-top: 22px;
  margin-bottom: 22px;
}
h3 {
  font-size: 16px;
  line-height: 22px;
  margin-top: 22px;
  margin-bottom: 22px;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 22px;
  margin-bottom: 22px;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
